.container {
    gap: 20px;
    display: flex;
    margin-top: 90px;
  }
  
  @media (max-width: 991px) {
    .container {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .titleColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 36%;
    margin-left: 0;
  }
  
  @media (max-width: 991px) {
    .titleColumn {
      width: 100%;
    }
  }
  
  .title {
    color: rgba(189, 41, 48, 1);
    letter-spacing: 1.74px;
    align-self: stretch;
    margin: auto 0;
    font: 900 58px Satoshi, sans-serif;
  }
  
  @media (max-width: 991px) {
    .title {
      margin-top: 40px;
      font-size: 40px;
    }
  }
  
  .contentColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 71%;
    margin-left: 20px;
  }
  
  @media (max-width: 991px) {
    .contentColumn {
      width: 100%;
    }
  }
  
  .contentWrapper {
    flex-grow: 1;
    flex-direction: row;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .contentWrapper {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .featureGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .featureItem {
    width: 94%;
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
  
  @media (max-width: 991px) {
    .featureItem {
      width: 100%;
      margin-top: 40px;
    }
  }
  
  .featureIcon {
    aspect-ratio: 0.98;
    object-fit: contain;
    object-position: center;
    width: 93px;
  }
  
  .featureContent {
    display: flex;
    flex-direction: column;
  }
  
  .featureTitle {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0.74px;
    font-family: Satoshi, sans-serif;
    color: rgba(0, 0, 0, 1);
    margin-top: 0;
  }
  
  .featureDescription {
    font-size: 18px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 17px;
    font-family: Satoshi, sans-serif;
    color: rgba(0, 0, 0, 1);
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }