.container {
    display: flex;
    padding-top: 48px;
    flex-direction: column;
  }
  
  .heroSection {
    background-color: #000;
    display: flex;
    margin-top: 48px;
    /* width: 100%; */
    flex-direction: column;
    align-items: center;
    /* padding: 0 70px; */
    margin: 0 -3rem;
  }
  
  @media (max-width: 991px) {
    .heroSection {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  
  .contentWrapper {
    z-index: 10;
    width: 100%;
    max-width: 1188px;
    margin: -48px 0 0 17px;
  }
  
  @media (max-width: 991px) {
    .contentWrapper {
      max-width: 100%;
    }
  }
  
  .flexContainer {
    gap: 20px;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .flexContainer {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0;
  }
  
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  
  .heroImage {
    aspect-ratio: 0.87;
    object-fit: contain;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  
  @media (max-width: 991px) {
    .heroImage {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .textContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .textContent {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .brandName {
    color: #fff;
    /* letter-spacing: 1.2px; */
    font: 900 47px Satoshi, sans-serif;
    display: inline-block;
  }
  
  @media (max-width: 991px) {
    .brandName {
      font-size: 40px;
    }
  }
  
  .brandHighlight {
    font-weight: 700;
    color: #bd2930;
  }
  
  .tagline {
    color: #fff;
    margin-top: 5px;
    width: 416px;
    font: 700 48px Satoshi, sans-serif;
  }
  
  @media (max-width: 991px) {
    .tagline {
      font-size: 40px;
    }
  }
  
  .description {
    color: #fff;
    align-self: stretch;
    margin-top: 5px;
    font: 500 24px Satoshi, sans-serif;
  }
  
  @media (max-width: 991px) {
    .description {
      max-width: 100%;
    }
  }
  
  .ctaContainer {
    display: flex;
    gap: 20px 44px;
    margin: 29px 0 0 39px;
  }
  
  @media (max-width: 991px) {
    .ctaContainer {
      margin-left: 10px;
    }
  }
  
  .ctaText {
    color: #fff;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 500 16px Satoshi, sans-serif;
    border: solid 1px white;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .iconContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    flex: 1;
  }
  
  .divider {
    align-self: stretch;
    width: 1px;
    height: 58px;
  }
  
  .icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }